:root {
  --clr-primary-orange: hsl(25, 97%, 53%);
  --clr--neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-gray: hsl(217, 12%, 63%);
  --clr-neutral-blue: hsl(213, 19%, 18%);
  --clr-dark-blue: hsl(216, 12%, 8%);
  --width-desktop: 1440px;
  --width-mobile: 375px;
  --font-size-p: 15px;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pop-up {
  width: 20rem;
  background-color: var(--clr-neutral-blue);
  padding: 3rem;
  border-radius: 2rem;
}

/* RATINGS SELECTION */
.pop-up__ratings-list {
  display: flex;
  justify-content: space-evenly;
}

.pop-up__ratings {
  display: none;
}

.pop-up__ratings-list > label {
  background-color: var(--clr-neutral-blue);
  width: 2rem;
  height: 2rem;
  padding: 0.25rem;
  border-radius: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pop-up__ratings-list > label:hover {
  background-color: var(--clr-primary-orange);
}

.pop-up__ratings-list input[type='radio']:checked + label {
  background-color: var(--clr-neutral-gray);
}

/* SUBMIT BUTTON */
.pop-up__button-container {
  display: flex;
  justify-content: center;
}

.pop-up__submit {
  display: block;
  border: none;
  color: var(--clr--neutral-white);
  background-color: var(--clr-primary-orange);
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  width: 100%;
  padding: 0.45rem;
  margin-top: 1.25rem;
  border-radius: 2rem;
}

.pop-up__submit:hover {
  background-color: var(--clr--neutral-white);
  color: var(--clr-primary-orange);
}
