:root {
  --clr--neutral-white: hsl(0, 0%, 100%);
  --clr-dark-blue: hsl(216, 12%, 8%);
}

body {
  background-color: var(--clr-dark-blue);
  color: var(--clr--neutral-white);
  size: 15px;
  margin: 0;
  font-family: 'Overpass', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}
